<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>平井とは</title>
        <style type="text/css">
        h1{
        border-bottom: solid 3px gray;
          }
        h1{
        font-size: 25px;
         }
        p{
        font-size: 16px;
         }
        </style>
    </head>
    <body>
      <h1>平井とは</h1>
        <p>みなさん、平井をご存知でしょうか。東京都出身の方でも、実は知らない人が多い地域です。<br>
        「錦糸町に近いかな。平井駅は両国駅と亀戸駅の間だよ。」というと、<br>
        「へぇ～、あの辺に平井っていう駅があるんだ。ローカル線？」なんて言われます。総武線です。総武線沿いの駅の中でも、最も知名度が低いかもしれません。<br>
        地図をご覧ください。大きな荒川と、細くうねる旧中川に囲まれた立地は、いわば「江戸川区の孤島」。<br>
        そんな平井の魅力、知りたくないですか？</p>
        <div style="text-align:center"><%= image_tag("hiraimap.jpg") %></div>
    </body>
</html>