<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ログインユーザー</title>
        <style type="text/css">
        h1{
        border-bottom: solid 3px gray;
          }
        h1{
        font-size: 25px;
         }
        p{
        font-size: 16px;
         }
        </style>
    </head>
 <body>
  <h1>ログインユーザー</h1><br>
<%= @user.name %>
 </body>
</html>