<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>ひらいいね！トップページ</title>
    </head>
    <body>
      <div style="text-align:center"><%= image_tag("hirai.jpg") %></div>
      <div style="text-align:center"><h1>ひらいいね！</h1></div>
      <div style="text-align:center"><p>みなさんは、東京都の東、江戸川区平井をご存でしょうか。実は東京人でも知っている人が少ない地域です。<br>そんな平井の魅力を伝えるべく立ち上げたのが、この平井非公式ウェブサイト、「ひらいいね！」です。</p></div>
    </body>
</html>